<table id="myTable" class="table table-stripped table-responsive-md btn-table">
    <thead>
        <tr>
            <th>ID</th>
            <th class="th-sm">Name</th>
            <th class="th-sm">Price</th>
            <th class="th-sm">Picture</th>
            <th class="th-sm">Category</th>
            <th class="th-sm">Description</th>
        </tr>
    </thead>
    <tbody>
        {{#products}}
        <tr>
            <br>
            <td>{{_id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{picture}}</td>
            <td>{{category}}</td>
            <td>{{description}}</td>
        </tr>
        {{/products}}
    </tbody>
</table>